{{ block "form" . }}
<form hx-post="/contacts" hx-swap="outerHTML">
    name:
        <input
            {{ if .Values.name }} value="{{ .Values.name }}" {{ end }}
            type="text"
            name="name"
            />

    email:
        <input
            {{ if .Values.email }} value="{{ .Values.email }}" {{ end }}
            type="text"
            name="email"
            />

    {{ if .Errors.email }}
        <div style="color: red">{{ .Errors.email }}</div>
    {{ end }}

    <button type="submit">Create Contact</button>
</form>
{{ end }}
