{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="css/style.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        {{ template "form" .Form }}
        <hr />
        {{ template "display" .Data }}
    </body>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.body.addEventListener("htmx:beforeSwap", function(evt) {
                if (evt.detail.xhr.status === 422) {
                    // If this is a 422, tell HTMX it isn't a real error
                    // and we can still swap
                    evt.detail.shouldSwap = true;
                    evt.detail.isError = false;
                }
            });
        });
    </script>
</html>
{{ end }}
